.index-main-container {
    display: flex;
    padding: 10px 20px;
}

.index-flex-block {
    border: 1px solid black;
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 7px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

p {

}

p.index-module-name {
    font-size: 35px;
    margin-top: 70px;
    transition: ease-in-out 500ms;
}

p.index-module-description {
    font-size: 20px;
    margin-top: 90px;
    transition: ease-in-out 500ms;
}