.wp {
    background-size: cover;
    background-repeat: no-repeat;
}

.movieman_wp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                      url('../img/movieman_wp.JPG');
}